<div data-bind="" class="" data-oc-id="a-widget">
  <!-- oc layout: panels -->
  <div class="row">
    <div class="oc-panel" data-oc-id="panel-0-0">
      <!-- oc section: occ-react-component -->
      <div data-bind="onRender: onRender.bind($data)" id="occReactComponent"></div>
      <!-- /oc -->
    </div>
  </div>
  <!-- /oc -->
</div>
