{
  "presets": [
    "@babel/preset-flow",
    [
      "@babel/preset-env",
      {
        "loose": true,
        "modules": false,
        "targets": {
          "browsers": ["last 2 versions", "safari >= 7"]
        }
      }
    ],
    "@babel/preset-react"
  ],
  "plugins": [
    "react-hot-loader/babel",
    "add-module-exports",
    "transform-class-properties",
    "syntax-dynamic-import",
    "transform-es2015-modules-commonjs"
  ]
}
