.occ-react-component {
  background: black;
  color: white;
  text-align: center;
  padding: 50px;
}

.example {
  margin: 10px 0;
}

.logo {
  width: 200px;
}

.oracle-logo {
  display: inline-block;
  background: url("../images/oracle-learning-partner.png") no-repeat;
  width: image-width('~oracle-learning-partner.png');
  height: image-height('~oracle-learning-partner.png');
}



